* {
    margin: 0;
    outline: none;
}
body{
    color: black;
    font-family: Comic Sans MS, Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Блок wraper*/
.wraper {
    background-color: rgb(247, 230, 208);
    min-width: 620px;
    width: 80%;
    height: 100vh;
    position: relative;
    border-left: 2px solid rgb(255, 145, 0);
    border-right: 2px solid rgb(255, 145, 0);
    box-shadow: 0px 0px 80px -9px rgb(255, 145, 0);
}
.header{
    text-align: center;
    margin: 10px;
}
.header_title{
    font-size: 38px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    border-bottom: 2px solid rgb(255, 145, 0);
    text-shadow: rgb(255, 145, 0) 0 0 10px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content_game{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    flex: 1;
}
/*подсказки для пользователя*/
.content_hint{
    font-size: 16px;
    text-align: center;
    padding: 15px;
}
/*поле для игры в крестики нолики*/
.game_field{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    margin: 30px;
    grid-gap: 1px;
    box-shadow: 0px 0px 0px 2px rgb(255, 145, 0);
}
.item{
    box-shadow: 0px 0px 0px 1px rgb(255, 145, 0);
    background-color: rgb(247, 230, 208);
    cursor: pointer;
}
.button-game-control{
    margin: 20px;
    padding: 5px;
    background-color: rgb(247, 230, 208);
    color: rgb(255, 145, 0);
    border: 2px solid rgb(255, 145, 0);
    font-size: 15px;
    border-radius: 6px;
    width: 180px;
    cursor: pointer;
}
.button-game-control:hover {
    background-color: rgb(255, 145, 0);
    color: rgb(247, 230, 208);
}
.content_table{
    flex: 1;
}